<section 
  class='landing-section bg-black h-screen w-screen text-center relative overflow-hidden'
  data-header-color='black'>
			
  <div class='z-30 relative h-full flex flex-col'>
    <header>
      <h2 class='text-black pt-40 text-[40px] font-medium'>
        Megapack
      </h2>
      <p class='text-black text-sm'>
        Almacenamiento masivo de energía
      </p>
    </header>

    <footer class='flex flex-col flex-grow justify-end pb-14'>
      <div class='gap-x-14 flex mx-auto'>
        <p class='flex flex-col text-sm'><strong class='text-2xl'>5+ GWh</strong>Desplegado</pclass>
        <p class='flex flex-col text-sm'><img class="h-8 w-8 m-auto" src="pngegg (5).png" /> Infinitamente escalable</p>
        <p class='flex flex-col text-sm'><strong class='text-2xl'>3 MWh</strong>Por unidad</p>
        <a class='border-[3px] border-black bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-black px-14 py-2 h-10 hover:bg-black hover:text-white transition-colors' href='#''>
          Contacto
        </a>
      </div>
    </footer>
  </div>

  <div class='absolute top-0 bottom-0 h-full w-full z-10' >
    <video 
      class='object-center object-cover h-full w-full' 
      autoplay 
      muted 
      loop 
      src='/Megapack-D.webm'></video>
  </div>

</section>